<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :fecnac %><br />
    <%= f.date_select :fecnac %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br />
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :grupo %><br />
    <%= f.number_field :grupo %>
  </div>
  <div class="field">
    <%= f.label :jefe %><br />
    <%= f.text_field :jefe %>
  </div>
  <div class="field">
    <%= f.label :subjefe %><br />
    <%= f.text_field :subjefe %>
  </div>
  <div class="field">
    <%= f.label :observaciones %><br />
    <%= f.text_field :observaciones %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
